<div class="quote">
  <%= link_to quote.name, quote_path(quote) %>
  <div>
    <%= button_to "Delete",
                  quote_path(quote),
                  method: :delete%>
    <%= turbo_frame_tag "quote-#{quote.id}" do%>
      <%= link_to "Edit",
                  edit_quote_path(quote)%>
    <% end %>
    <%= quote.id %>
  </div>
</div>
